.bg-light {
    background-color: white;
}

.header-wrapper .navbar {
    margin: 0 auto;
    width: 90%;
    padding: 0;
}

    .header-wrapper .navbar .container-fluid {
        justify-content: flex-start;
    }

        .header-wrapper .navbar .container-fluid .title {
            font-size: 1.2em;
            font-family: sans-serif;
            font-weight: bold;
        }

            .header-wrapper .navbar .container-fluid .title > p {
                margin-bottom: 0;
            }

    .header-wrapper .navbar .navbar-brand {
        height: 6.25rem;
    }

        .header-wrapper .navbar .navbar-brand img {
            height: 100%;
            width: auto;
        }

    .header-wrapper .navbar .d-flex {
        align-items: center;
    }

        .header-wrapper .navbar .d-flex input {
            width: 13rem;
            height: 2rem;
            border-radius: 1rem;
        }

        .header-wrapper .navbar .d-flex button {
            position: absolute;
            top: 1.8rem;
            right: .7rem;
        }

            .header-wrapper .navbar .d-flex button img {
                width: 1.5rem;
            }

.header-wrapper .header-bottom {
    display: flex;
    font-family: "Roboto", sans-serif;
    background-color: #363636;
    padding-left: 6%;
    margin: 0 auto;
    border-top: 0.4375rem solid #BE0F0F;
}

    .header-wrapper .header-bottom .dropdown .dropbtn {
        background-color: #363636;
        color: white;
        padding: .7rem;
        font-size: 14px;
        border: none;
        border-right: 0.5px solid #555555;
    }

        .header-wrapper .header-bottom .dropdown .dropbtn::after {
            content: url("https://img.icons8.com/ios-glyphs/10/ffffff/chevron-down.png");
            padding-left: 4px;
        }

    .header-wrapper .header-bottom .dropdown:first-child {
        border-left: 0.5px solid #555555;
    }

    .header-wrapper .header-bottom .dropdown .dropdown-content {
        display: none;
        position: absolute;
        background-color: #363636;
        min-width: 14rem;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

        .header-wrapper .header-bottom .dropdown .dropdown-content a {
            font-size: small;
            color: white;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            border-bottom: .5px solid #555;
        }

            .header-wrapper .header-bottom .dropdown .dropdown-content a:hover {
                background-color: #387EBF;
            }

    .header-wrapper .header-bottom .dropdown:hover .dropdown-content {
        display: block;
    }

    .header-wrapper .header-bottom .dropdown:hover .dropbtn {
        background-color: #387EBF;
    }

.news {
    font-family: "Roboto", sans-serif;
}

    .news .row {
        max-width: 1260px;
        margin: auto;
        width: 100%;
    }

        .news .row h2 {
            font-size: 2rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        .news .row .card {
            padding-bottom: 2rem;
            border: none;
        }

            .news .row .card img {
                height: 8.90625rem;
                object-fit: cover;
                border-bottom: 0.25rem solid #be0f0f;
            }

            .news .row .card .card-body {
                padding: 0.55125rem 0 1.1025rem 0;
            }

                .news .row .card .card-body p.notify {
                    position: absolute;
                    top: 7rem;
                    display: inline-block;
                    height: 1.875rem;
                    padding: 0 0.625rem;
                    color: white;
                    background-color: #BE0F0F;
                    font-size: .75rem;
                    font-weight: bold;
                    line-height: 1.875rem;
                }

                .news .row .card .card-body p.title {
                    line-height: 1.3rem;
                    overflow: hidden;
                    height: 2.625rem;
                    font-weight: bold;
                }

                .news .row .card .card-body p.card-text {
                    font-size: 14px;
                    height: 4.125rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

.foot-part {
    background-color: #BE0F0F;
    width: 100%;
    margin: 0 auto;
    padding: .5rem 2rem .5rem 2rem;
    text-align: center;
}

    .foot-part a {
        text-decoration: none;
    }

        .foot-part a span {
            color: white;
            transition: opacity .3s, transform .3s;
        }

            .foot-part a span:hover {
                transform: translateX(5rem);
            }

        .foot-part a:not(:hover) img {
            display: none;
        }

.trainning {
    font-family: "Roboto", sans-serif;
}

.training .row {
    text-align: center;
    max-width: 1260px;
    margin: auto;
    width: 100%;
}

    .training .row h2.title {
        color: #0a0909;
        font-size: 1.6em;
        width: 100%;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

.training .row .training-body {
    display: flex;
}
    .training .row .training-body .row2 {
        max-width: 1230px;
    }

    .training .row .training-body .card {
        display: flex;
        flex-direction: row;
    }

        .training .row .training-body .card .card-body {
            text-align: left;
            max-height: 100%;
            overflow: hidden;
        }
        .training .row .training-body .card img {
            right: 0;
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
            top: 0;
            position: absolute;
            object-position: 50% 50%;
            object-fit: cover;
        }
            .training .row .training-body .card .card-body h5 {
                width: 100%;
                margin-top: 0;
                margin-bottom: .5em;
                color: #0a0909;
            }
            .training .row .training-body .card .card-body p {
                font-size: 14px;
            }
       
        .training .row .training-body .card img {
            height: 100%;
            max-width: 18.75rem;
        }

.alumni {
    font-family: "Roboto", sans-serif;
}

    .alumni .row {
        max-width: 1260px;
        margin: auto;
        width: 100%;
    }

        .alumni .row h2 {
            font-size: 2rem;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }

        .alumni .row .card {
            padding-bottom: 2rem;
            border: none;
        }

            .alumni .row .card img {
                height: 8.90625rem;
                object-fit: cover;
                border-bottom: 0.25rem solid #be0f0f;
            }

            .alumni .row .card .card-body {
                padding: 0.55125rem 0 1.1025rem 0;
            }

                .alumni .row .card .card-body p.notify {
                    position: absolute;
                    top: 7rem;
                    display: inline-block;
                    height: 1.875rem;
                    padding: 0 0.625rem;
                    color: white;
                    background-color: #BE0F0F;
                    font-size: .75rem;
                    font-weight: bold;
                    line-height: 1.875rem;
                }

                .alumni .row .card .card-body p.title {
                    line-height: 1.3rem;
                    overflow: hidden;
                    height: 2.625rem;
                    font-weight: bold;
                }

                .alumni .row .card .card-body p.card-text {
                    font-size: 14px;
                    height: 4.125rem;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

        .alumni .row .card {
            background-color: #F4F4F4;
            border: .5px solid #DFDFDF;
        }

            .alumni .row .card .card-body {
                padding-left: 1rem;
            }

                .alumni .row .card .card-body p.notify {
                    left: -.1rem;
                }

.about-us {
    background-color: #FCF9E2;
}

    .about-us .title {
        padding: 2rem 0;
    }

    .about-us .about-body {
        display: flex;
        justify-content: space-around;
    }

        .about-us .about-body .about {
            max-width: 16.6666666666666666667%;
            text-align: center;
        }

            .about-us .about-body .about p.name {
                font-size: 1.4rem;
            }

            .about-us .about-body .about p.number {
                font-weight: bold;
                font-size: 2rem;
            }

/*# sourceMappingURL=style.css.map */

events {
    font-family: "Roboto", sans-serif;
}

.events .row {
    max-width: 1260px;
    margin: auto;
    width: 100%;
}

    .events .row h2 {
        color: #fff;
        font-size: 2rem;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    .events .row .card {
        border: none;
    }

        .events .row .card img {
            height: 8.90625rem;
            object-fit: cover;
        }

        .events .row .card .card-body {
            padding: 15px;
        }

            .events .row .card .card-body p.notify {
                color: #fff;
                background-color: #2f2424;
                height: 70px;
                width: 70px;
                text-align: center;
                box-shadow: 0 0 10px rgba(0, 0, 0, .15), 0 3px 3px rgba(0, 0, 0, .15);
                margin-top: -40px;
                position: relative;
                margin-left: 25px;
                font-weight: bold;
                display: flex;
                flex-flow: row wrap;
                align-content: center;
                box-sizing: border-box;
                line-height: initial;
            }

                .events.row.card.card-body p.notify span.post-date-day {
                    display: block;
                    width: 100%;
                    font-size: 24px;
                    line-height: 1.5;
                }

            .events .row .card .card-body p.title {
                font-size: 18px;
                font-weight: 700;
                height: 48px;
                overflow: hidden;
            }

            .events .row .card .card-body p.card-text {
                font-size: 14px;
                height: 4.125rem;
                overflow: hidden;
                text-overflow: ellipsis;
            }
