.bg-light {
  background-color: white; }

.header-wrapper .navbar {
  margin: 0 auto;
  width: 90%;
  padding: 0; }
  .header-wrapper .navbar .container-fluid {
    justify-content: flex-start; }
    .header-wrapper .navbar .container-fluid .title {
      font-size: 1.2em;
      font-family: sans-serif;
      font-weight: bold; }
      .header-wrapper .navbar .container-fluid .title > p {
        margin-bottom: 0; }
  .header-wrapper .navbar .navbar-brand {
    height: 6.25rem; }
    .header-wrapper .navbar .navbar-brand img {
      height: 100%;
      width: auto; }
  .header-wrapper .navbar .d-flex {
    align-items: center; }
    .header-wrapper .navbar .d-flex input {
      width: 13rem;
      height: 2rem;
      border-radius: 1rem; }
    .header-wrapper .navbar .d-flex button {
      position: absolute;
      top: 1.8rem;
      right: .7rem; }
      .header-wrapper .navbar .d-flex button img {
        width: 1.5rem; }
.header-wrapper .header-bottom {
  display: flex;
  font-family: "Roboto", sans-serif;
  background-color: #363636;
  padding-left: 6%;
  margin: 0 auto;
  border-top: 0.4375rem solid #BE0F0F; }
  .header-wrapper .header-bottom .dropdown .dropbtn {
    background-color: #363636;
    color: white;
    padding: .7rem;
    font-size: 14px;
    border: none;
    border-right: 0.5px solid #555555; }
    .header-wrapper .header-bottom .dropdown .dropbtn::after {
      content: url("https://img.icons8.com/ios-glyphs/10/ffffff/chevron-down.png");
      padding-left: 4px; }
  .header-wrapper .header-bottom .dropdown:first-child {
    border-left: 0.5px solid #555555; }
  .header-wrapper .header-bottom .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #363636;
    min-width: 14rem;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1; }
    .header-wrapper .header-bottom .dropdown .dropdown-content a {
      font-size: small;
      color: white;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      border-bottom: .5px solid #555; }
    .header-wrapper .header-bottom .dropdown .dropdown-content a:hover {
      background-color: #387EBF; }
  .header-wrapper .header-bottom .dropdown:hover .dropdown-content {
    display: block; }
  .header-wrapper .header-bottom .dropdown:hover .dropbtn {
    background-color: #387EBF; }

.news {
  font-family: "Roboto", sans-serif; }
  .news .row {
    width: 96%;
    margin: 0 auto; }
    .news .row h2 {
      font-size: 2rem;
      margin-top: 2rem;
      margin-bottom: 2rem; }
    .news .row .card {
      padding-bottom: 2rem;
      border: none; }
      .news .row .card img {
        height: 8.90625rem;
        object-fit: cover;
        border-bottom: 0.25rem solid #be0f0f; }
      .news .row .card .card-body {
        padding: 0.55125rem 0 1.1025rem 0; }
        .news .row .card .card-body p.notify {
          position: absolute;
          top: 7rem;
          display: inline-block;
          height: 1.875rem;
          padding: 0 0.625rem;
          color: white;
          background-color: #BE0F0F;
          font-size: .75rem;
          font-weight: bold;
          line-height: 1.875rem; }
        .news .row .card .card-body p.title {
          line-height: 1.3rem;
          overflow: hidden;
          height: 2.625rem;
          font-weight: bold; }
        .news .row .card .card-body p.card-text {
          font-size: 14px;
          height: 4.125rem;
          overflow: hidden;
          text-overflow: ellipsis; }

.foot-part {
  background-color: #BE0F0F;
  width: 100%;
  margin: 0 auto;
  padding: .5rem 2rem .5rem 2rem;
  text-align: center; }
  .foot-part a {
    text-decoration: none; }
    .foot-part a span {
      color: white;
      transition: opacity .3s, transform .3s; }
      .foot-part a span:hover {
        transform: translateX(5rem); }
    .foot-part a:not(:hover) img {
      display: none; }

.training .training-head {
  text-align: center;
  width: 80%;
  margin: 2rem auto; }
  .training .training-head p.title {
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem; }
.training .training-body {
  display: flex;
  width: 96%;
  margin: 0 auto; }
  .training .training-body .card {
    display: flex;
    flex-direction: row;
    margin: 1rem;
    height: 16.85rem; }
    .training .training-body .card .card-body {
      max-height: 100%;
      overflow: hidden;
      text-overflow: ellipsis; }
    .training .training-body .card img {
      height: 100%;
      max-width: 18.75rem; }

.alumni {
  font-family: "Roboto", sans-serif; }
  .alumni .row {
    width: 96%;
    margin: 0 auto; }
    .alumni .row h2 {
      font-size: 2rem;
      margin-top: 2rem;
      margin-bottom: 2rem; }
    .alumni .row .card {
      padding-bottom: 2rem;
      border: none; }
      .alumni .row .card img {
        height: 8.90625rem;
        object-fit: cover;
        border-bottom: 0.25rem solid #be0f0f; }
      .alumni .row .card .card-body {
        padding: 0.55125rem 0 1.1025rem 0; }
        .alumni .row .card .card-body p.notify {
          position: absolute;
          top: 7rem;
          display: inline-block;
          height: 1.875rem;
          padding: 0 0.625rem;
          color: white;
          background-color: #BE0F0F;
          font-size: .75rem;
          font-weight: bold;
          line-height: 1.875rem; }
        .alumni .row .card .card-body p.title {
          line-height: 1.3rem;
          overflow: hidden;
          height: 2.625rem;
          font-weight: bold; }
        .alumni .row .card .card-body p.card-text {
          font-size: 14px;
          height: 4.125rem;
          overflow: hidden;
          text-overflow: ellipsis; }
  .alumni .row .card {
    background-color: #F4F4F4;
    border: .5px solid #DFDFDF; }
    .alumni .row .card .card-body {
      padding-left: 1rem; }
      .alumni .row .card .card-body p.notify {
        left: -.1rem; }

/*# sourceMappingURL=style.css.map */
